@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  user-select: none;
  -moz-user-select: none;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 130%;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1::before,
h2::before,
h3:before {
  margin-right: 5px;
  opacity: 0.5;
}

h1::before {
  content: "#";
}

h2::before {
  content: "##";
}

h3::before {
  content: "###";
}

@media (prefers-color-scheme: light) {
  body {
    color: #3f37c9;
    background: #eee;
  }

  a,
  a:visited {
    color: #3f37c9;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #3f37c9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f37c9",endColorstr="#480ca8",GradientType=1);
    color: #fff;
  }

  a,
  a:visited {
    color: #fff;
  }
}

body h1:first-child {
  cursor: pointer;
}
